* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
pre {
  font-family: $font-body;
  font-size: $font-size;
}

body {
  cursor: none;
  padding: $screen-border;
  background: $bg-color-dark;
  color: $primary;

  &::after {
    content: '';
    z-index: 1;
    position: fixed;
    inset: 0;
    background: linear-gradient(0deg, transparent 50%, fade-out($black, 0.6) 50%);
    background-size: 1px 2px;
  }
}

main {
  position: relative;
}

.background {
  z-index: -1;
  position: fixed;
  inset: 0;
  border-radius: 24%;
  background-color: $bg-color;
  box-shadow: 0 0 $screen-border $black inset;
}

textarea {
  overflow: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

.text-shine {
  opacity: 0.5;
  position: absolute;
  inset: 0;
  filter: blur(2px);
}

span {
  overflow-wrap: anywhere;

  &::after {
    content: '';
    display: inline-block;
    vertical-align:top;
    width: 8px;
    height: 14px;
    background-color: $primary;
    transform: translate(1px, 2px);
    animation: blinking 1s step-start infinite;
  }
}