// Colors
$primary:           #71ffc2;
$bg-color:          #1a7045;
$bg-color-dark:     #0c3420;
$black:             #000000;

// Fonts
$font-body:         'DOS';
$font-size:         20px;

// Sizes
$screen-border:     100px;